body {
	font-family: 'Oswald', sans-serif;
	background-color: #151535;
}

header {
	position: relative;
	background-color: black;
	padding-top: 2em;
	padding-bottom: 3em;
	width: 101%;
	left: -0.5%;
	right: -0.5%;
	top: -0.5em;
	margin: 0 auto;
	text-align: center;
	-webkit-box-shadow: inset 0px -40px 50px -9px rgba(21,21,53,1);
	-moz-box-shadow: inset 0px -40px 50px -9px rgba(21,21,53,1);
	box-shadow: inset 0px -40px 50px -9px rgba(21,21,53,1);
}

.title-text {
	text-shadow: 3px 02px rgba(0, 0, 255, 0.44);
	text-decoration: none;
	position: absolute;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	width: auto;
	left:0;
	right: 0;
	margin: 0 auto;
	color: #5353AB;
	top: -0.1em;
}

.title-img {
	position: relative;
	width: 16.6%;
}

.start-form {
	color: #5353AB;
	background-color: #050519;
	position: relative;
	padding: 3em;
	width: 50%;
	left: 0%;
	right: 0%;
	top: 0em;
	margin: 0 auto;
	-webkit-box-shadow: inset 0px -40px 50px -9px rgba(21,21,53,1);
	-moz-box-shadow: inset 0px -40px 50px -9px rgba(21,21,53,1);
	box-shadow: inset 0px -40px 50px -9px rgba(21,21,53,1);
}
