<% if results %>
  <div class='results'>
  	<span class="hidden data"><%=results.donuts%></span>
    <h2>Also...</h2>
    <p>If you ate as many donuts per year as the average American, every year, for the rest of your life, you could eat
      <span class="counter-value"></span>
    donuts, mane.</p>

	  <%= erb :_nav, layout: false %>
  </div>
<% end %>
