<% if results %>
  <span class="hidden donuts-ct"><%=results.donuts%></span>
  <div class='donuts'>
    <h2>Bruh!</h2>
    <p>If you ate as many donuts every year as the average American, you could eat
      <span class="donut-counter-value"></span>
    donuts mayne.</p>
		<a href="/rickroll"><img class="image-link" src="img/rick.gif"></a>
  </div>
<% end %>
