<% if results %>
  <span class="hidden donuts-ct"><%=results.donuts%></span>
  <div class='donuts'>
    <h2>Also...</h2>
    <p>If you ate as many donuts per year as the average American, every year, for the rest of your life, you could eat
      <span class="donut-counter-value"></span>
    donuts, mane.</p>
		<a href="/rickroll"><img class="image-link" src="img/rick.gif"></a>
		<a class="result-link" href="/results"><img class="image-link roll-pic" src="img/coaster_track.png"></a>
  </div>
<% end %>
