<% if results %>
  <div class='results'>
  	<span class="hidden data"><%=results.drinks%></span>
    <h2>And...</h2>
    <p>If you got wasted as much as the average American, you'd torture your liver with
      <span class="counter-value"></span>
    drinks! F**k yeah!</p>

	  <%= erb :_nav, layout: false %>
  </div>
<% end %>
