<% if results %>
  <div class='results'>
  	<span class="hidden data"><%=results.fb%></span>
    <h2>Furthermore...</h2>
    <p>If you check Facebook as much as the average person, you'll die having wasted
      <span class="counter-value"></span>
    minutes looking at other people pretending to be happy. Congrats!</p>

	  <%= erb :_nav, layout: false %>
  </div>
<% end %>
