<% if results %>
  <div class='results'>
  	<span class="hidden data"><%=results.heart_min%></span>
  	<span class="hidden data2"><%=results.heart_min%></span>
    <h2>Correspondingly...</h2>
    <p>Your heart will just beat it about
      <span class="counter-value"></span>to<span class="counter-value2"></span>
    times before you die.</p>
    <img src="img/beat.gif">
	  <%= erb :_nav, layout: false %>
  </div>
<% end %>
