<nav>
  <a class="result-link" href="/results"><img class="image-link roll-pic" src="img/coaster_track.png"></a>
  <a class="result-link"href="/donuts"><img class="image-link" src="img/donut.gif"></a>
  <a class="result-link"href="/drinks"><img class="image-link" src="img/beer.png"></a>
  <a class="result-link"href="/fb"><img class="image-link" src="img/fb.png"></a>
  <a class="result-link"href="/sleeping"><img class="image-link" src="img/sleep.png"></a>
  <a class="result-link"href="/heart"><img class="image-link" src="img/heart.png"></a>
  <a class="rick-link" href="/rickroll"><img class="image-link" src="img/rick.gif"></a>
</nav>
