<nav>
  <a class="result-link" href="/results"><img class="image-link roll-pic" src="img/coaster_track.png"></a>
  <a class="result-link"href="/donuts"><img class="image-link" src="img/donut.gif"></a>
  <a class="rick-link" href="/rickroll"><img class="image-link" src="img/rick.gif"></a>
</nav>
