<% if results %>
  <div class='bruh'>
    <span class="hidden data"><%=results.rides%></span>
    <h2>Bruh!</h2>
    <p>If you spent the rest of your life riding sick ass roller coasters, you could ride
      <span class="counter-value"></span>
    times!! Bruuuhhh!</p>

    <%= erb :_nav, layout: false %>
  </div>
<% end %>
