<% if results %>
  <span class="hidden rides"><%=results.rides%></span>
  <div class='bruh'>
    <h2>Bruh!</h2>
    <p>You could ride a sick roller coaster</p>
    <div class="counter-container">
      <span class="counter-value"></span>
    </div>
    <p>times!! Bruuuhhh!</p>
  </div>
<% end %>
