<form class="start-form" action="/results" method='post'>
	<h2>Find out what you can still do with your life.</h2>
  <div class="birth-div">
    <label for="birth">Birth Date:</label>
    <input type="text" placeholder="ex. 31 January 1990" name='birth'>
  </div>
  <div class="gender-div">
    <label for="gender">Gender:</label>
    <input type="text" placeholder="Binary genders only for now :(" name='gender'>
  </div>
  <input class="submit-button" type="submit" value='Show me!'>
</form>
