<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <title>Joyride</title>
</head>
<body>
  <header>
    <a href="/">
      <img class="title-img" src="img/coaste_inv.png"><img class="title-img" src="img/coaster.png"><img class="title-img" src="img/coaste_inv.png"><img class="title-img" src="img/coaster.png"><img class="title-img" src="img/coaste_inv.png"><img class="title-img" src="img/coaster.png">
    </a>
    <a class="title-text" href="/">Joyride.</a>
  </header>

  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
