<div class="rick"><img src="img/roll.gif">
	<iframe class="hidden" width="0%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/166877736&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
	<p>
		<a class="donut-link"href="/donuts"><img class="image-link" src="img/donut.gif"></a>
		<span class="credits">Thanks for using our app!</span>
		<a class="result-link" href="/results"><img class="image-link roll-pic" src="img/coaster_track.png"></a>
	</p>
</div>
